.heading {
  margin-top: 20px;

  text-align: center;
  font-size: 42px;
}

.text {
  margin-top: 20px;
  width: 700px;
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 600;
}

.button__wakaliwood {
  text-decoration: none;
}
