.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  padding: 0 110px 0 110px;
  background-color: var(--main-red);
  margin-top: var(--margin-footer);
}

.footer__link,
.footer__secret {
  font-size: 28px;
  font-weight: 600;
  color: var(--main-white);
}

.footer__secret {
  color: rgba(0, 0, 0, 0);
}

@media (max-width: 880px) {
  .footer {
    height: 150px;
    padding: 25px 110px;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer__link,
  .footer__secret {
    font-size: 22px;
  }
}
