.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 110px 0 110px;
  min-height: 100vh;
}

.logo {
  filter: drop-shadow(15px 4px 4px rgba(0, 0, 0, 0.25));
}

.pattern {
  width: 100vw;
  height: 82px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: url(../public/pattern.webp);
}

.heading {
  margin-bottom: 30px;

  text-align: center;
  font-weight: normal;
  color: black;
  font-size: 4rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 35px;

  margin-top: 40px;
  margin-bottom: var(--margin-footer);

  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.link {
  color: var(--main-red);
  margin: 0 10px 0 10px;
  transition: 0.3s;
}

.link:hover {
  text-decoration: none;
  transition: 0.3s;
}

.pastor__container {
  position: relative;
  width: 100vw;
  height: 10px;
}

.pastor {
  position: absolute;
  left: 100%;

  width: 20vw;
  height: fit-content;

  transform: translate(-110%, calc(-100% + 10px));
  filter: drop-shadow(12px 0 0 var(--main-red));
}

@media (max-width: 620px) {
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
  .logo {
    width: 90vw;
    height: fit-content;
  }
}
