.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 110px 0 110px;
  min-height: 100vh;
}

.pattern {
  width: 100vw;
  height: 82px;
  background: url(../public/pattern.webp);
}

.pattern:nth-of-type(1) {
  margin-bottom: 80px;
}

.pattern:nth-of-type(2) {
  margin-top: 80px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  gap: 200px;

  margin-top: 80px;
}

.bird {
  max-width: 400px;
  height: fit-content;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 35px;

  max-width: 800px;

  font-size: 42px;
  font-weight: 600;
}

.link {
  color: var(--main-red);
  margin: 0 10px 0 10px;
  transition: 0.3s;
}

.link:hover {
  text-decoration: none;
  transition: 0.3s;
}

.video {
  width: 50vw;
  height: 28vw;
}

@media (max-width: 1320px) {
  .text {
    font-size: 32px;
    max-width: 900px;
  }
  .bird {
    max-width: 25vw;
  }
}

@media (max-width: 1100px) {
  .introduction {
    gap: 150px;
  }
  .video {
    width: 63vw;
    height: 35vw;
  }
  .text {
    font-size: 28px;
    width: 400px;
  }
  .bird {
    max-width: 30vw;
  }
}

@media (max-width: 880px) {
  .introduction {
    gap: 50px;
  }
  .text {
    font-size: 22px;
    width: 300px;
  }
  .bird {
    max-width: 35vw;
  }
}

@media (max-width: 620px) {
  .introduction {
    gap: 50px;
  }
  .text {
    font-size: 18px;
  }
  .bird {
    display: none;
  }
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
  .video {
    width: 95vw;
    height: 55vw;
  }
}
