.container {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;

  max-width: 1300px;
}

.buttons {
  align-self: flex-start;
}

.buttons button {
  margin-left: 30px;
  margin-bottom: 40px;
  border-radius: 0%;
  border: none;
}

.buttons button.active {
  border-bottom: 3px solid var(--main-red);
}
