.masonry {
  margin-bottom: var(--margin-footer);
}

.masonry div img {
  cursor: url(../../../public/zululpointer.svg), pointer;
}

.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 45vw;
  max-width: 70vw;
  height: fit-content;
  max-height: 90vh;

  z-index: 10;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;

  cursor: url(../../../public/zululpointer.svg), pointer;
}

@media (max-width: 1200px) {
  .active {
    max-width: 90vw;
  }
}

@media (max-width: 600px) {
}
